In [1]:
import pandas as pd

In [3]:
pd = pd.read_csv('../data/Train.csv')
pd.head()

,Package Type,Destination,Itinerary,Travel Date,Start City,Airline,Flight Stops,Meals
0,Standard,New Delhi|Shimla|Manali|Chandigarh,1N New Delhi . 2N Shimla . 2N Manali . 1N Chan...,30-07-2021,Mumbai,Not Available,2,3
1,Premium,Srinagar|Pahalgam|Srinagar,1N Srinagar . 2N Pahalgam . 1N Srinagar,8/12/2021,New Delhi,IndiGo|IndiGo,0,5
2,Luxury,Udaipur|Chittorgarh,2N Udaipur . 1N Chittorgarh,26-04-2021,New Delhi,IndiGo,0,4
3,Premium,Munnar|Kumarakom|Allepey|Kovalam and Poovar,2N Munnar . 1N Kumarakom . 1N Allepey . 2N Kov...,27-08-2021,New Delhi,IndiGo,0,5
4,Premium,Pattaya|Bangkok,4N Pattaya . 3N Bangkok,12/12/2021,New Delhi,Spicejet|Go Air,0,5

### TransForm These data Into Trainable Data
#### Apply pre processing techniques
##### Here None of The Features Are Co-Related So, Don't Drop any of the Features